@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

html body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.8;
  background-color: #dff3fc;
  height: 100vh;
  margin: 0;
}

html body .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

html body .container #first_slide-up {
  display: none;
  z-index: 10;
  width: 60%;
  position: fixed;
  bottom: 0;
  left: 20%;
  transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
  -webkit-animation: SlideIn 1.6s;
          animation: SlideIn 1.6s;
}

@-webkit-keyframes SlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%) translateY(100vh);
            transform: translateX(-20%) translateY(100vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-20%) translateY(0);
            transform: translateX(-20%) translateY(0);
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%) translateY(100vh);
            transform: translateX(-20%) translateY(100vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-20%) translateY(0);
            transform: translateX(-20%) translateY(0);
  }
}

html body .container #sun-image {
  width: 15rem;
  position: fixed;
  top: 10%;
  left: 30%;
  transform: translateX(-30%) translateY(-10%);
  -webkit-transform: translateX(-30%) translateY(-10%);
}

html body .container .horizontal-move {
  width: 30rem;
  position: fixed;
  top: 40%;
  left: -30rem;
  transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
}

html body .container .loop-wrap {
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  height: 70px;
  overflow: hidden;
  z-index: -10;
  background-color: antiquewhite;
}

html body .container .loop-wrap img {
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0 1.5rem;
}

html body .container .loop-wrap img:first-child {
  -webkit-animation: loop 30s -15s linear infinite;
          animation: loop 30s -15s linear infinite;
}

html body .container .loop-wrap img:last-child {
  -webkit-animation: loop2 30s linear infinite;
          animation: loop2 30s linear infinite;
}

@-webkit-keyframes loop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes loop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes loop2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes loop2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
/*# sourceMappingURL=style.css.map */