@charset "UTF-8";
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}


html {
    font-size: 62.5%;

    body {
        font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
        line-height: 1.8;
        background-color: rgb(223, 243, 252);
        height: 100vh;
        margin: 0;

        .container {
            width: 100%;
            margin: 0 auto;
            padding: 0 2rem;

            #first_slide-up {
                display: none;
                z-index: 10;
                width: 60%;
                position: fixed;
                bottom: 0; left: 20%;
                transform: translateX(-20%);
                -webkit-transform: translateX(-20%);
                animation: SlideIn 1.6s;
            }
            @keyframes SlideIn {
                0% {
                    opacity: 0;
                    transform: translateX(-20%) translateY(100vh);
                }
                100% {
                    opacity: 1;
                    transform: translateX(-20%) translateY(0);
                }
            }
            #sun-image {
                width: 15rem;
                position: fixed;
                top: 10%; left: 30%;
                transform: translateX(-30%) translateY(-10%);
                -webkit-transform: translateX(-30%) translateY(-10%);
            }
            .horizontal-move {
                width: 30rem;
                position: fixed;
                top: 40%; left: -30rem;
                transform: translateY(-40%);
                -webkit-transform: translateY(-40%);
            }
            .loop-wrap {
                position: fixed;
                top: calc(10% + 4rem); left: calc(40% + 8rem);
                display: flex;
                width: 40vw;
                height: 70px;
                overflow: hidden;
                z-index: -10;
                background-color: #D3D9FE;

                img {
                    width: auto;
                    object-fit: contain;
                    padding: 0 1.5rem;

                    &:first-child {
                        animation: loop 30s -15s linear infinite;
                    }
                    &:last-child {
                        animation: loop2 30s linear infinite;
                    }
                    @keyframes loop {
                        0% {
                            transform:  translateX(100%);
                        }
                        to {
                            transform: translateX(-100%);
                        }
                    }
                    @keyframes loop2 {
                        0% {
                            transform: translateX(0);
                        }
                        to {
                            transform: translateX(-200%);
                        }
                    }
                }
            }
        } // .container -ed.
    } // body -ed.
} // html -ed.